.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 36rem;
	margin: 8rem auto 0;
}
.buttons > a {
	font-size: 1.5rem;
	font-weight: bold;
	color: #aaa;
} .buttons > a:visited {
	text-decoration: none;
} .buttons > a:link {
	text-decoration: none;
} .buttons > a:hover {
	color: #ccc;
}

.sourceGithub {
	color: #ddd;
	display: flex;
	justify-content: center;
	margin-top: 30px;
} .sourceGithub:visited {
	text-decoration: none;
} .sourceGithub:link {
	text-decoration: none;
} .sourceGithub:hover {
	color: #eee;
} .icon {
	font-size: 19px;
}

.title {
	font-size: 2rem;
}

.info {
	border-radius: 5px;
	margin-top: 10px;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem 8rem;
	max-width: 60%;

} .info > p {
	margin: 0px 0;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: grey;
}
